<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Artistas'"
></app-generic-window>

<ng-template #contentTemplate>
  <button
    [disabled]="newRowAdded || entryBeingEdited"
    id="add-button"
    class="add-container"
    (click)="showFormDialog()"
  >
    <mat-icon class="add-buton">add_box</mat-icon>
  </button>
  <app-generic-table
    [tableData]="artists"
    [tableColumns]="artistColumns"
    [isPageable]="true"
    [apiFailing]="apiFailing"
    [isSortable]="true"
    (filtered)="filterData($event)"
    (sort)="sortData($event)"
    [hasActions]="true"
    (modified)="updateElement($event)"
    (rowAdded)="newRowAdded = $event"
    (create)="createElement($event)"
    (delete)="deleteElement($event)"
    [paginationSizes]="[5, 10, 20]"
    [defaultPageSize]="10"
    (pageNum)="updatePageNumber($event)"
    (edited)="entryBeingEdited = $event"
    *ngIf="loaded"
  >
  </app-generic-table>
</ng-template>

<ng-template #crewTemplate let-rowData="rowData">
  <button mat-icon-button malToolTipe="Ver la crew" matTooltipShowDelay="1000" aria-label="Ver la crew"
    (click)="showDialog(rowData.id, rowData.name, rowData.crew)">
    <mat-icon>supervisor_account</mat-icon>
  </button>
</ng-template>

<ng-template #socialNetworkTemplate let-rowData="rowData">
  <button mat-icon-button malToolTipe="Ver la crew" matTooltipShowDelay="1000" aria-label="Ver la crew"
    (click)="showDialog(rowData.id, rowData.name, rowData.socialNetwork)">
    <mat-icon>supervisor_account</mat-icon>
  </button>
</ng-template>
