<h3>Presentacion</h3>
<h3>Servicios</h3>

<section class="servicios">
  <div class="tarjeta">
      <a [routerLink]="'Marketing'">
          <img src="../../../../assets/Visual/dudi.jpg" alt="PR&MKTNG" >
          <h3>PR&MKTNG</h3>
          <p>Planificación y estrategia de planes de comunicación personalizados.</p>
      </a>
  </div>
  <div class="tarjeta">
      <a [routerLink]="'Agency'">
          <img src="../../../../assets/Visual/dudi.jpg" alt="Servicio 2">
          <h3>Agency</h3>
          <p>Conectamos con tu público objetivo y hacemos crecer tu proyecto mejorando el posicionamiento</p>
      </a>
  </div>
  <div class="tarjeta">
      <a [routerLink]="'Visual'">
          <img src="../../../../assets/Visual/dudi.jpg" alt="Servicio 3">
          <h3>Visual</h3>
          <p>Nos encargamos de cubrir los eventos y actuaciones con fotografía y vídeo, a gusto del cliente</p>
      </a>
  </div>
  <div class="tarjeta">
      <a [routerLink]="'Tourmanager'">
          <img src="../../../../assets/Visual/dudi.jpg" alt="Servicio 3">
          <h3>Tour Manager</h3>
          <p>Descripción del Servicio 3.</p>
      </a>
  </div>
</section>



<h3>playlist oficial</h3>
<div class="container-playlist">
<iframe
      src="https://open.spotify.com/embed/playlist/3438Dt8b8OFb1a7DcADesi"
      width="700"
      height="550"
      frameborder="5"
      allowtransparency="true"
    ></iframe>
  </div>
<app-contact-web></app-contact-web>
