<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" [opened]="visible">
    <mat-nav-list>
      <mat-list-item
        [routerLink]="''"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Página web"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faGlobe"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>
      <mat-list-item
        [routerLink]="'Home'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Home"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faHouse"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Admin'"
        [routerLink]="'Conciertos'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Conciertos"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faMicrophoneLines"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Admin'"
        [routerLink]="'Festivales'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Festivales"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faPodcast"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Admin'"
        [routerLink]="'Artistas'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Artistas"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faCircleUser"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Admin'"
        [routerLink]="'Song'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Canciones"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faPlay"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Admin'"
        [routerLink]="'Albumes'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Albumes"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faCompactDisc"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Admin'"
        [routerLink]="'Usuarios'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Usuarios"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faGear"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Admin'"
        [routerLink]="'Companies'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Empresas"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faBriefcase"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Visual'"
        [routerLink]="'YoutubeVideos'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Youtube videos"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faYoutube"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="this.role === 'Crew'"
        [routerLink]="'ConcertCrew'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Conciertos"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faMicrophoneLines"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>
      <mat-list-item
        *ngIf="this.role === 'Crew'"
        [routerLink]="'FestivalCrew'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Festivales"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <fa-icon
          [icon]="faPodcast"
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        ></fa-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet style="padding: 80px"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
