.add-button{
  height: 100%;
  width: 100%;
  font-size: 35px;
  margin: 0%;
}

.add-container{
  border: none;
  padding: 0%;
  height: 35px;
  background-color: #00000000;
  transform: 0.3s;

  &:hover:not([disabled]){
    color: #ff0000;
  }
}


.mat-mdc-snack-bar-container.success-button{
   --mat-mdc-snack-bar-button-color : #16aa65;
}

.mat-mdc-snack-bar-container.err-button{
   --mat-mdc-snack-bar-button-color : #ff2525;
}

.mat-mdc-snack-bar-container.success-button{
   --mat-mdc-snack-bar-button-color : #fff025;
}

