<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" [opened]="visible">
    <mat-nav-list>
      <mat-list-item
        [routerLink]="'Home'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="FirstView"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu_button"
          >supervisor_account</mat-icon
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Conciertos'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Conciertos"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
          >music_note</mat-icon
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Festivales'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Festivales"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
          >library_music</mat-icon
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Eventos'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Eventos"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
          >dashboard</mat-icon
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Artistas'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Artistas"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
          >person_pin</mat-icon
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Song'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Canciones"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
          >add</mat-icon
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Albumes'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Albumes"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
          >delete</mat-icon
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Usuarios'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Usuarios"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
        >
          settings</mat-icon
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'ImagenesArtistas'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Imagenes de artistas"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
          >image</mat-icon
        >
      </mat-list-item>
      <mat-list-item
        [routerLink]="'Dossier'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="highlighted"
        matTooltip="Dossier"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon
          mat-list-icon
          routerLinkActive="highlighted"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-button"
          >image</mat-icon
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet style="padding: 80px"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
