<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Festivales'"
></app-generic-window>

<ng-template #contentTemplate>
  <app-generic-table
    [tableData]="festivales"
    [tableColumns]="festivalColumns"
    [isPageable]="true"
    [isSortable]="true"
    (filtered)="filterData($event)"
    [hasActions]="false"
    [paginationSizes]="[5, 10, 20]"
    [defaultPageSize]="10"
    (pageNum)="updatePageNumber($event)"
    *ngIf="loaded"
  >
  </app-generic-table>
</ng-template>
