@import '../intranet.component.scss';

.window-title {
  padding-top: 60px;
  padding: 20px;
  background-color: $dark-color;
}

.window-title-text {
  font-size: 80px;
  color:  $light-color;
  text-transform: uppercase;
  font-family: 'Akira';
  font-weight: bolder;
}

.window-template {
  padding: 20px;
}
