.generic-container{
  width: 96%;
  padding: 10px;
  margin: auto;
  background-color: white;
}

.window-title {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
}

.window-title-text {
  font-size: xx-large;
  margin: 20px;
}

