<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Conciertos'"
></app-generic-window>
<app-spinner *ngIf="this.spinner"></app-spinner>
<ng-template #contentTemplate>
  <app-generic-table
    [tableData]="conciertos"
    [tableColumns]="conciertosColumns"
    [isPageable]="true"
    [isSortable]="true"
    [apiFailing]="apiFailing"
    (filtered)="filterData($event)"
    [hasActions]="false"
    [paginationSizes]="[5, 10, 20]"
    [pageSize]="pageSize"
    [pageNumber]="pageNumber"
    [totalRecords]="totalConcerts"
    (paginationChange)="onPaginationChange($event)"
    [canManageColumns]="true"
    [hasFilter]="true"
    *ngIf="loaded"
  >
  </app-generic-table>
</ng-template>
