<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Artistas'"
></app-generic-window>

<ng-template #contentTemplate>


  <div class="artist-container">
    <div *ngFor="let artist of artists" class="artist-card">
      <h2>{{ artist.name }}</h2>
      <div class="image-container">
        <img *ngIf="artist.image" [src]="artist.image" alt="Imagen de {{ artist.name }}" class="artist-image">
        <div class="upload-button-container">
          <input type="file" accept="image/*" (change)="onImageUpload($event, artist)" #fileInput style="display: none;">
          <button mat-icon-button class="upload-button" (click)="fileInput.click()">
            <mat-icon>cloud_upload</mat-icon>
          </button>
        </div>
      </div>
      <div class="button-container">
        <button *ngIf="artist.image" mat-icon-button class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="artist.image" mat-icon-button class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>



</ng-template>
