.artist-container {
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Separación más grande entre las tarjetas de artistas */
  text-align: center;
  justify-content: center;
}

.artist-card {
  width: 250px; /* Ancho fijo de cada tarjeta de artista */
  margin-bottom: 30px; /* Separación más grande entre las tarjetas */
  background-color: black;
}

.artist-name{
  text-align: center; /* Centrar el título */
  padding: 2px;
  color: white;
}

.artist-image-container {
  padding: 0px;
  max-height: 100%; /* Altura máxima de la imagen dentro de la tarjeta */
  overflow: hidden;
}

.artist-image {
  max-width: 100%; /* Ancho máximo de la imagen dentro de la tarjeta */
  max-height: 100%; /* Altura máxima de la imagen dentro de la tarjeta */
  object-fit: cover; /* Ajustar la imagen para que se ajuste dentro del contenedor */
}

.mat-card-actions a {
  text-decoration: none;
  margin-right: 5px; /* Espacio entre los botones */
}

.social-network-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50px; /* Ajusta el tamaño máximo deseado */
  max-height: 50px; /* Ajusta el tamaño máximo deseado */
}

.logo-artist-social-network img {
  max-width: 30px; /* Ajusta el tamaño máximo deseado */
  max-height: 30px; /* Ajusta el tamaño máximo deseado */
}
