@import "../../web-styles.scss";

.container-comment {
  padding: 5px 25%;
}

p {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 26px;
}

@media screen and (max-width: 767px) {
  .container-comment {
    padding: 15px;
  }

  p {
    font-size: 18px;
  }
}

h1 {
  font-size: 60px;
  font-family: "Akira";
  color: white;
  text-align: center;
  margin: 0px;
  padding-top: 40px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 44px;
    padding-top: 20px;
    padding: 10px;
    line-height: 1;
  }
}
