<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Artistas'"
></app-generic-window>
<app-spinner *ngIf="this.spinner"></app-spinner>
<ng-template #contentTemplate>
  <button
    [disabled]="newRowAdded || entryBeingEdited"
    id="add-button"
    class="add-container"
    (click)="showFormDialog()"
  >
    <mat-icon class="add-buton">add_box</mat-icon>
  </button>
  <app-generic-table
    [tableData]="artists"
    [tableColumns]="artistColumns"
    [isPageable]="true"
    [apiFailing]="apiFailing"
    [isSortable]="true"
    (filtered)="filterData($event)"
    (sort)="sortData($event)"
    [hasActions]="true"
    (modified)="updateElement(this._artistService, $event)"
    (rowAdded)="newRowAdded = $event"
    (create)="createElement($event)"
    (delete)="deleteElement($event)"
    [paginationSizes]="[5, 10, 20]"
    [pageSize]="pageSize"
    [pageNumber]="pageNumber"
    [totalRecords]="totalArtist"
    (paginationChange)="onPaginationChange($event)"
    [canManageColumns]="true"
    [hasFilter]="true"
    (edited)="entryBeingEdited = $event"
    *ngIf="loaded"
  >
  </app-generic-table>
</ng-template>

<ng-template #socialNetworkTemplate let-rowData="rowData">
  <button mat-icon-button malToolTipe="Ver las redes" matTooltipShowDelay="1000" aria-label="Ver las redes"
    (click)="showFormDialogSocialNetwork(rowData.socialNetworkIntranetDto)">
    <mat-icon>supervisor_account</mat-icon>
  </button>
</ng-template>

<ng-template #imageTemplate let-rowData="rowData">
  <button mat-icon-button malToolTipe="Ver la imagen" matTooltipShowDelay="1000" aria-label="Ver la imagen"
    (click)="showFormDialogImage( rowData)">
    <mat-icon>image</mat-icon>
  </button>
</ng-template>
