.add-button{
  height: 100%;
  width: 100%;
  font-size: 35px;
  margin: 0%;
}

.add-container{
  border: none;
  padding: 0%;
  height: 35px;
  background-color: #00000000;
  transform: 0.3s;

  &:hover:not([disabled]){
    color: #8ecae6;
    transform: scale(1.3);
  }
}
