<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Artistas'"
></app-generic-window>

<app-spinner *ngIf="this.spinner"></app-spinner>

<ng-template #addTemplate>
  <button
    [disabled]="newRowAdded || entryBeingEdited"
    id="add-button"
    class="add-button"
    (click)="showFormDialog()"
    matTooltip="Add User"
    matTooltipPosition="below"
    matTooltipShowDelay="500"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</ng-template>

<ng-template #contentTemplate>
  <app-generic-table
    [tableData]="entries"
    [tableColumns]="columns"
    [isPageable]="true"
    [apiFailing]="apiFailing"
    [isSortable]="true"
    [hasActions]="true"
    (modified)="updateElement(this._artistService, $event)"
    (rowAdded)="newRowAdded = $event"
    (create)="createElement($event)"
    (delete)="deleteElement($event)"
    [paginationSizes]="[5, 10, 20]"
    [pageSize]="pageSize"
    [pageNumber]="pageNumber"
    [totalRecords]="totalRecords"
    (paginationChange)="onPaginationChange($event)"
    (sort)="sortData($event)"
    (filtered)="filterData($event)"
    [canManageColumns]="true"
    [hasFilter]="true"
    (edited)="entryBeingEdited = $event"
    [iconButtons]="iconButtons"
    *ngIf="loaded"
  >
  </app-generic-table>
</ng-template>

<ng-template #socialNetworkTemplate let-rowData="rowData">
  <button
    mat-icon-button
    malToolTipe="Ver las redes"
    matTooltipShowDelay="1000"
    aria-label="Ver las redes"
    (click)="showFormDialogSocialNetwork(rowData.socialNetwork)"
  >
    <mat-icon>supervisor_account</mat-icon>
  </button>
</ng-template>

<ng-template #imageTemplate let-rowData="rowData">
  <button
    mat-icon-button
    malToolTipe="Ver la imagen"
    matTooltipShowDelay="1000"
    aria-label="Ver la imagen"
    (click)="showFormDialogImage(rowData)"
  >
    <mat-icon>image</mat-icon>
  </button>
</ng-template>
