<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" [opened]="visible">
    <mat-nav-list [ngStyle]="{ width: opened ? '200px' : '70px' }">
      <mat-list-item
        (click)="opened = !opened"
        matTooltip="Menu"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-grid-list cols="4" rowHeight="100">
          <mat-grid-tile [colspan]="opened ? 3 : 0">
            <img
              *ngIf="opened"
              src="assets/images/Philotechwhite.png"
              alt="PhilotechLogo"
              width="150px;"
              [routerLink]="''"
              matTooltip="Home"
              matTooltipPosition="right"
              matTooltipShowDelay="500"
            />
          </mat-grid-tile>
          <mat-grid-tile [colspan]="opened ? 1 : 4">
            <mat-icon [ngClass]="{ rotated: opened }" class="menu-button"
              >menu
            </mat-icon>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-list-item>

      <mat-list-item
        [routerLink]="'FirstView'"
        routerLinkActive="highlighted"
        matTooltip="FirstView"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon mat-list-icon class="menu-button"
          >supervisor_account</mat-icon
        >
        <span *ngIf="opened" class="menu-item" class="menu-button"
          >FirstView</span
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Artist'"
        routerLinkActive="highlighted"
        matTooltip="Artist"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon mat-list-icon class="menu-button">card_travel</mat-icon>
        <span *ngIf="opened" class="menu-item" class="menu-button">Artist</span>
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Sprints'"
        routerLinkActive="highlighted"
        matTooltip="Sprints"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon mat-list-icon class="menu-button">event</mat-icon>
        <span *ngIf="opened" class="menu-item" class="menu-button"
          >Sprints</span
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Boards'"
        routerLinkActive="highlighted"
        matTooltip="Boards"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon mat-list-icon class="menu-button">dashboard</mat-icon>
        <span *ngIf="opened" class="menu-item" class="menu-button">Boards</span>
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Tickets'"
        routerLinkActive="highlighted"
        matTooltip="Tickets"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon mat-list-icon class="menu-button">assignment</mat-icon>
        <span *ngIf="opened" class="menu-item" class="menu-button"
          >Tickets</span
        >
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Users'"
        routerLinkActive="highlighted"
        matTooltip="Users"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon mat-list-icon class="menu-button">accessibility</mat-icon>
        <span *ngIf="opened" class="menu-item" class="menu-button">Users</span>
      </mat-list-item>

      <mat-list-item
        [routerLink]="'Admin'"
        routerLinkActive="highlighted"
        matTooltip="Admin"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        [matTooltipDisabled]="opened"
      >
        <mat-icon mat-list-icon class="menu-button">perm_identity</mat-icon>
        <span *ngIf="opened" class="menu-item" class="menu-button">Admin</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="white">
      <mat-toolbar-row>
        <span class="flexExpand"></span>
        <button
          mat-icon-button
          #toolbar_button
          [matMenuTriggerFor]="menu"
          matTooltip="Session"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          [matTooltipDisabled]="opened"
        >
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [routerLink]="'Profile'"
            matTooltip="Profile"
            matTooltipPosition="right"
            matTooltipShowDelay="500"
          >
            <mat-icon>account_box</mat-icon>
            <span>My profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>highlight_off</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet style="padding: 80px"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
