<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Eventos'"
></app-generic-window>
<app-spinner *ngIf="this.spinner"></app-spinner>
<ng-template #contentTemplate>
  <button
    [disabled]="newRowAdded || entryBeingEdited"
    id="add-button"
    class="add-container"
    matTooltip="Añadir evento"
    matTooltipShowDelay="500"
    (click)="showFormDialog()"
  >
    <mat-icon class="add-buton">add_box</mat-icon>
  </button>
  <app-generic-table
    [tableData]="eventos"
    [tableColumns]="eventsColumns"
    [isPageable]="true"
    [apiFailing]="apiFailing"
    [isSortable]="true"
    (filtered)="filterData($event)"
    (sort)="sortData($event)"
    [hasActions]="true"
    (modified)="updateElement($event)"
    (rowAdded)="newRowAdded = $event"
    (create)="createElement($event)"
    (delete)="deleteElement($event)"
    [paginationSizes]="[5, 10, 20]"
    [pageSize]="pageSize"
    [pageNumber]="pageNumber"
    [totalRecords]="totalEvents"
    (paginationChange)="onPaginationChange($event)"
    [canManageColumns]="true"
    [hasFilter]="true"
    (edited)="entryBeingEdited = $event"
    *ngIf="loaded"
  >
  </app-generic-table>
</ng-template>
