<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Usuarios'"
></app-generic-window>
<app-spinner *ngIf="this.spinner"></app-spinner>
<ng-template #contentTemplate>
  <button
    [disabled]="newRowAdded || entryBeingEdited"
    id="add-button"
    class="add-button"
    (click)="showFormDialog()"
    matTooltip="Añadir usuario"
    matTooltipPosition="below"
    matTooltipShowDelay="500"
  >
    <mat-icon>add_box</mat-icon>
  </button>
  <app-generic-table
    [tableData]="users"
    [tableColumns]="usersColumns"
    [isPageable]="true"
    [apiFailing]="apiFailing"
    [isSortable]="true"
    (filtered)="filterData($event)"
    (sort)="sortData($event)"
    [hasActions]="true"
    (create)="createElement($event)"
    (delete)="deleteElement($event)"
    (modified)="updateElement($event)"
    [paginationSizes]="[5, 10, 20]"
    [pageSize]="pageSize"
    [pageNumber]="pageNumber"
    [totalRecords]="totalUsers"
    (paginationChange)="onPaginationChange($event)"
    [canManageColumns]="true"
    [hasFilter]="true"
    *ngIf="loaded"
  >
  </app-generic-table>
</ng-template>

<ng-template #passwordTemplate let-rowData="rowData">
  <button mat-icon-button malToolTipe="Ver la contraseña" matTooltipShowDelay="1000" aria-label="Ver la contraseña"
    (click)="showFormDialogPassword(rowData)">
    <mat-icon>visibility</mat-icon>
  </button>
</ng-template>
