<div class="buttons-container">
  <div class="buttons">
    <ng-container *ngFor="let button of leftButtons">
      <ng-container [ngTemplateOutlet]="button.template"></ng-container>
    </ng-container>
  </div>

  <div class="buttons">
    <ng-container *ngFor="let button of rightButtons">
      <ng-container [ngTemplateOutlet]="button.template"> </ng-container>
    </ng-container>
    <button
      *ngIf="canManageColumns"
      class="managecolumns-button"
      matTooltip="Manage Columns"
      matTooltipPosition="below"
      matTooltipShowDelay="500"
      (click)="showColumnSelection = !showColumnSelection; showFilterOptions = false">
      <fa-icon [icon]="faColumns"></fa-icon>
    </button>
    <button
      *ngIf="hasFilter"
      class="filter-button"
      matTooltip="Filter Options"
      matTooltipPosition="below"
      matTooltipShowDelay="500"
      (click)="showFilterOptions = !showFilterOptions; showColumnSelection = false">
      <fa-icon [icon]="faFilter"></fa-icon>
    </button>
  </div>
</div>

<!-- manage columns -->
<div
  mat-raised-button-activated
  class="column-selector"
  *ngIf="showColumnSelection && canManageColumns"
  cdkDropListGroup>
  <div class="available-columns-container">
    <h2 class="column-selection-title">
      Undisplayed columns
      <fa-icon [icon]="faEyeSlash"></fa-icon>
    </h2>
    <div
      class="column-list"
      cdkDropList
      (cdkDropListDropped)="columnDropped($event)"
      [cdkDropListData]="getAvailableColumns()"
      cdkDropListOrientation="horizontal"
      id="availableColumns">
      <div
        class="column-box"
        *ngFor="let column of getAvailableColumns()"
        cdkDrag
        [cdkDragData]="column"
        cdkDragBoundary=".column-selector">
        {{ column }}
      </div>
    </div>
  </div>
  <div class="displayed-columns-container">
    <h2 class="column-selection-title">Displayed columns <fa-icon [icon]="faEye"></fa-icon></h2>
    <div
      class="column-list"
      cdkDropList
      (cdkDropListDropped)="columnDropped($event)"
      [cdkDropListData]="getDisplayedColumns()"
      cdkDropListOrientation="horizontal"
      id="displayedColumns">
      <div
        class="column-box"
        *ngFor="let column of getDisplayedColumns()"
        cdkDrag
        [cdkDragData]="column"
        cdkDragBoundary=".column-selector"
        class="column-box">
        {{ column }}
      </div>
    </div>
  </div>
</div>

<app-generic-filter
  [tableDataSource]="tableDataSource"
  [tableColumns]="tableColumns"
  (filtered)="filtered.emit($event)"
  *ngIf="showFilterOptions && hasFilter"></app-generic-filter>

<div class="table-container">
  <form [formGroup]="VOForm" autocomplete="off">
    <ng-container formArrayName="VORows">
      <table
        class="table"
        mat-table
        [dataSource]="tableDataSource"
        matSort
        (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="dragDisabled || !isOrderable"
        cdkDropList
        (matSortChange)="sortTable($event)"
        multiTemplateDataRows>
        <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
          <!-- if sortable column header -->
          <ng-container *ngIf="tableColumn.isSortable; else notSortable">
            <th
              class="mat-header"
              mat-header-cell
              *matHeaderCellDef
              [mat-sort-header]="tableColumn.name"
              [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'"
              [ngStyle]="{ width: tableColumn.width }"
              [matTooltip]="tableColumn.matTooltipHeader"
              [matTooltipShowDelay]="tableColumn.matTooltipShowDelay">
              {{ tableColumn.name }}
            </th>
          </ng-container>
          <!-- else not sortable -->
          <ng-template #notSortable>
            <th
              [matTooltip]="tableColumn.matTooltipHeader"
              [matTooltipShowDelay]="tableColumn.matTooltipShowDelay"
              mat-header-cell
              *matHeaderCellDef
              [class.text-right]="tableColumn.position == 'right'"
              [ngStyle]="{ width: tableColumn.width }">
              {{ tableColumn.name }}
            </th>
          </ng-template>

          <!-- column data -->
          <td
            mat-cell
            *matCellDef="let element; let i = dataIndex"
            [ngStyle]="{ width: tableColumn.width }"
            [class.text-right]="tableColumn.position == 'right'"
            [class.notEditable]="element.value.isEditable"
            [matTooltip]="getDataTooltip(tableColumn, element.getRawValue()[tableColumn.dataKey])"
            [matTooltipShowDelay]="tableColumn.matTooltipShowDelay"
            [formGroup]="element">
            <ng-container [ngSwitch]="tableColumn.type">
              <ng-container *ngSwitchCase="'editableTextFields'">
                <div
                  style="display: flex; justify-content: center; align-items: center; gap: 4px"
                  (mouseover)="onMouseOverInput(inputField.value, tableColumn.dataKey)"
                  (mouseleave)="onMouseLeaveInput()">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <input
                      #inputField
                      matInput
                      type="text"
                      id="inputField.value"
                      formControlName="{{ tableColumn.dataKey }}" />
                    <mat-error *ngIf="element.controls[tableColumn.dataKey].errors">
                      {{ getValidatorErrorMessage(element.controls[tableColumn.dataKey].errors) }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'dropdownFields'">
                <mat-form-field appearance="fill" style="width: 100%">
                  <mat-select formControlName="{{ tableColumn.dataKey }}">
                    <mat-option *ngIf="tableColumn.dropdownHasEmptyOption" [value]="null">--</mat-option>
                    <mat-option *ngFor="let item of tableColumn.dropdown" [value]="item[tableColumn.dropdownKeyValue]">
                      {{ item[tableColumn.dropdownKeyToShow] }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="element.controls[tableColumn.dataKey].errors">
                    {{ getValidatorErrorMessage(element.controls[tableColumn.dataKey].errors) }}
                  </mat-error>
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'multipleDropdownFields'">
                <mat-form-field appearance="fill" style="width: 100%">
                  <mat-select formControlName="{{ tableColumn.dataKey }}" multiple>
                    <mat-select-trigger>
                      {{ element.controls[tableColumn.dataKey].value?.[0] || "" }}
                      <span
                        *ngIf="(element.controls[tableColumn.dataKey].value?.length || 0) > 1"
                        class="example-additional-selection">
                        (+{{ (element.controls[tableColumn.dataKey].value?.length || 0) - 1 }}
                        {{ element.controls[tableColumn.dataKey].value?.length === 2 ? "other" : "others" }})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let item of tableColumn.dropdown" [value]="item[tableColumn.dropdownKeyValue]">
                      {{ item[tableColumn.dropdownKeyToShow] }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="element.controls[tableColumn.dataKey].errors">
                    {{ getValidatorErrorMessage(element.controls[tableColumn.dataKey].errors) }}
                  </mat-error>
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'radioButtons'">
                <mat-radio-group
                  matNativeControl
                  formControlName="{{ tableColumn.dataKey }}"
                  color="primary"
                  [disabled]="element.value.isEditable">
                  <mat-radio-button
                    *ngFor="let button of tableColumn.radioButtons"
                    value="{{ button.value }}"
                    style="margin-right: 20px"
                    >{{ button.shown }}</mat-radio-button
                  >
                </mat-radio-group>
              </ng-container>
              <ng-container *ngSwitchCase="'checkbox'">
                <mat-checkbox formControlName="{{ tableColumn.dataKey }}" color="primary">{{
                  tableColumn.checkboxText
                }}</mat-checkbox>
              </ng-container>
              <ng-container *ngSwitchCase="'datePicker'">
                <mat-form-field appearance="fill" style="width: 100%">
                  <input matInput [matDatepicker]="picker" formControlName="{{ tableColumn.dataKey }}" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'dateText'">
                <p class="plain-text">
                  {{ element.getRawValue()[tableColumn.dataKey] | date: "dd.MM.yyyy" }}
                </p>
              </ng-container>
              <ng-container *ngSwitchCase="'specialContent'">
                <ng-container
                  [ngTemplateOutlet]="tableColumn.template"
                  [ngTemplateOutletContext]="{
                    $implicit: element.getRawValue()[tableColumn.dataKey],
                    isNewRow: element.value.isNewRow,
                    row: element,
                    rowData: element.getRawValue()
                  }">
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'imageFile'">
                <button class="button-map">
                  <mat-icon class="button-map-icon">directions_car</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <p
                  #tableData
                  class="plain-text"
                  matTooltip="{{ element.getRawValue()[tableColumn.dataKey] }}"
                  [matTooltipDisabled]="!checkOverflow(tableData)"
                  matTooltipPosition="below"
                  matTooltipShowDelay="500">
                  {{ element.getRawValue()[tableColumn.dataKey] }}
                </p>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="_order" *ngIf="isOrderable">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element" [class.isDisabled]="element.value.isEditable">
            <fa-icon [icon]="faBars" (mousedown)="dragDisabled = false"></fa-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="_expand" *ngIf="isExpandable">
          <th mat-header-cell *matHeaderCellDef aria-label="expand">&nbsp;</th>
          <td mat-cell *matCellDef="let element" class="expand">
            <ng-container *ngIf="!element.value.isNewRow">
              <button
                aria-label="expand row"
                (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation()">
                <fa-icon *ngIf="expandedElement !== element" [icon]="faAngleDown"></fa-icon>
                <fa-icon *ngIf="expandedElement === element" [icon]="faAngleUp"></fa-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="_action" *ngIf="hasActions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = dataIndex" [formGroup]="element">
            <ng-container *ngFor="let button of actionButtons">
              <ng-container
                [ngTemplateOutlet]="button.template"
                [ngTemplateOutletContext]="{
                  $implicit: element.getRawValue()
                }">
              </ng-container>
            </ng-container>
            <button
              class="post-button"
              matTooltip="Save Changes"
              matTooltipShowDelay="500"
              (click)="
                Save(
                  element,
                  i +
                    (tableDataSource.paginator != undefined
                      ? tableDataSource.paginator.pageIndex * tableDataSource.paginator.pageSize
                      : 0)
                )
              "
              *ngIf="!element.value.isEditable"
              color="primary"
              [disabled]="VOForm.invalid">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>

            <button
              class="post-button"
              matTooltip="Cancel Changes"
              matTooltipShowDelay="500"
              matTooltipPosition="below"
              (click)="
                Cancel(
                  element,
                  i +
                    (tableDataSource.paginator != undefined
                      ? tableDataSource.paginator.pageIndex * tableDataSource.paginator.pageSize
                      : 0)
                )
              "
              *ngIf="!element.getRawValue().isEditable">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>

            <button
              class="edit-button"
              *ngIf="element.getRawValue().isEditable"
              matTooltip="Edit"
              matTooltipPosition="below"
              matTooltipShowDelay="500"
              (click)="
                Edit(
                  element,
                  i +
                    (tableDataSource.paginator != undefined
                      ? tableDataSource.paginator.pageIndex * tableDataSource.paginator.pageSize
                      : 0)
                )
              ">
              <fa-icon [icon]="faPen"></fa-icon>
            </button>

            <button
              class="edit-button"
              *ngIf="element.getRawValue().isEditable && !hideDeleteButton"
              matTooltip="Delete"
              matTooltipPosition="below"
              matTooltipShowDelay="500"
              (click)="Delete(element)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element; let i = dataIndex"
            [attr.colspan]="displayedColumns.length"
            class="expand">
            <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <ng-container
                [ngTemplateOutlet]="expandTemplate"
                *ngIf="isExpandable && !element.value.isNewRow"
                [ngTemplateOutletContext]="{
                  $implicit: expandData.at(
                    i +
                      (tableDataSource.paginator != undefined
                        ? tableDataSource.paginator.pageIndex * tableDataSource.paginator.pageSize
                        : 0)
                  ),
                  parentId: element.getRawValue().id
                }">
              </ng-container>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row cdkDrag *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">
            <div class="empty-table-message">
              <p>No records found in the database</p>
            </div>
          </td>
        </tr>
        <ng-container *ngIf="isExpandable">
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </ng-container>
      </table>
    </ng-container>
  </form>
</div>

<div
  class="background-adding-btn"
  (click)="addNewRow()"
  *ngIf="canAddRows"
  [ngStyle]="
    (newRowAdded || entryBeingEdited || editingOutside) && {
      'background-color': 'black',
      cursor: 'auto',
      hover: 'background-color: black'
    }
  "
  matTooltip="Add new Line to Order"
  matTooltipShowDelay="500"
  matTooltipPosition="below"
  [matTooltipDisabled]="newRowAdded || entryBeingEdited || editingOutside">
  <button
    [disabled]="newRowAdded || entryBeingEdited || editingOutside"
    style="margin: auto; padding-bottom: 15px; display: flex; justify-content: center; align-items: center">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>
<!-- Pagination -->
<mat-paginator
  class="paginator"
  *ngIf="isPageable"
  [pageSizeOptions]="paginationSizes"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber - 1"
  [length]="totalRecords"
  (page)="onPaginationChange($event)"
  showFirstLastButtons>
</mat-paginator>
