@import "./../web-styles.scss";

.carrousel {
  padding-top: 50px;
  padding-bottom: 30px;
}
.container-button {
  text-align: center;
}

.button-ver-videos {
  @include custom-button-2;
  text-align: center;
}

.container-instagram {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px; /* Espacio entre los iframes */
  padding-bottom: 5%;

  &-item {
    -webkit-box-shadow: 0px 0px 17px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 17px 3px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 17px 3px rgba(255, 255, 255, 1);
    width: 400px;
    height: 660px;
  }
}

@media (max-width: 768px) {
  .youtube-video {
    width: 330;
    height: 275;
    padding: 0px 15px;
  }
  .container-instagram-item {
    width: 200px;
    height: 410px;
  }
}
