<h1>{{ artist?.name }}</h1>

<div class="container">
  <div class="container-image">
    <img class="image" [src]="this.artist.photo" />
  </div>
  <div class="container-description">
    <p>{{ artist.description }}</p>
  </div>
</div>

<div *ngIf="this.artist.albums.length > 0">
  <h3>Albumes</h3>
  <app-generic-card
    [buttonText]="'Escuchar'"
    [array]="this.artist.albums"
  ></app-generic-card>
</div>

<h3>Canciones</h3>
<app-generic-youtube [array]="this.artist.songs"></app-generic-youtube>

<div *ngIf="this.artist.events.length > 0">
  <h3>Eventos</h3>
  <app-artist-detail-table
    [array]="this.artist.events"
  ></app-artist-detail-table>
</div>
