<footer class="footer">
  <div class="container-footer">
    <p>Copyright © LNDLP 2023</p>
    <div class="container-enlaces">
      <a
        [href]="'https://www.instagram.com/losninosdelapromo/'"
        target="_blank"
        class="logo-artist-social-network"
      >
        <img src="./../../../assets/RRSSArtist/logotipo-de-instagram.png" alt="Instagram" />
      </a>
      <a
        [href]="'https://es.linkedin.com/company/los-ni%C3%B1os-de-la-promo'"
        target="_blank"
        class="logo-artist-social-network"
      >
        <img src="./../../../assets/RRSSArtist/logotipo-de-linkedin.png" alt="LinkedIn" />
      </a>
    </div>
    <a class="container-last">Privacidad</a>
  </div>
</footer>
