@import './../../web-styles.scss';

.container-button {
  text-align: center;
}

.button-ver-videos {
  @include custom-button-2;
  text-align: center;
}

@media (max-width: 768px) {
  .youtube-video {
    width: 330;
    height: 275;
    padding: 0px 15px;
  }
}
