<app-generic-section
  [contentTemplate]="contentTemplate"
  [sectionTitle]="'Intagram'"
></app-generic-section>

<ng-template #contentTemplate>
  <h3>Instagram</h3>
  <div class="container-instagram">
    <div class="container-instagram-item">
      <iframe
        src="https://www.instagram.com/reel/Cw5QgxdICmw/embed/"
        frameborder="0"
        scrolling="no"
        class="container-instagram-item"
      ></iframe>
    </div>
    <div class="container-instagram-item">
      <iframe
        src="https://www.instagram.com/reel/CvK7KdbIqWx/embed/"
        frameborder="0"
        scrolling="no"
        class="container-instagram-item"
      ></iframe>
    </div>
  </div>
</ng-template>
