@import "./../../web-styles.scss";

h5 {
  color: $grey1;
  font-size: 20px;
  font-family: "Akira";
  text-align: center;
  padding: 1%;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
}

@media (max-width: 768px) {
  h5 {
    padding: 10px;
    line-height: 1;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-item {
  min-width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fffcfc;
  text-align: center;
  box-sizing: border-box;
  flex-basis: calc(33.33% - 320px);
}

.container-item-image img {
  max-width: 100%; /* La imagen ocupará el ancho completo del div */
  height: auto; /* Mantener la relación de aspecto */
}

.button {
  @include custom-button-2;
}

.description {
  color: $yellow;
}

@media (max-width: 768px) {
  .container-item {
    flex-basis: calc(50% - 20px); /* 50% para mostrar 2 elementos en una fila */
  }
}
