@import './../../web-styles.scss';

.servicios {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.tarjeta {
  text-align: center;
  width: 320px;
  border: 1px solid #ccc;
  padding: 40px;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.5s;
}

.tarjeta:hover {
  transform: scale(1.1); /* Hace la tarjeta un 10% más grande al pasar el ratón por encima */
}

.tarjeta img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: block;
}


.tarjeta h3 {
  color: $grey1;
  font-size: 1.5rem;
}

.tarjeta p {
  color: $yellow;
  font-size: 1rem;
}

.tarjeta a {
  text-decoration: none;
  color: inherit;
  display: block;
}

@media (max-width: 768px) {
  .tarjeta {
      width: 100%;
  }
}
