<app-generic-section
  [contentTemplate]="contentTemplate"
  [sectionTitle]="'Servicios'"
></app-generic-section>

<ng-template #contentTemplate>
  <section class="servicios">
    <div class="tarjeta">
      <a [routerLink]="'Marketing'">
        <img
          src="../../../../assets/PaginaInicio/MARKETING.webp"
          alt="PR&MKTNG"
        />
        <h5>PR&MKTNG</h5>
        <p>
          Planificación y estrategia de planes de comunicación personalizados.
        </p>
      </a>
    </div>
    <div class="tarjeta">
      <a [routerLink]="'Agency'">
        <img
          src="../../../../assets/PaginaInicio/AGENCY.webp"
          alt="Servicio 2"
        />
        <h5>Agency</h5>
        <p>
          Conectamos con tu público objetivo y hacemos crecer tu proyecto
          mejorando el posicionamiento y relacionándolo con marcas
        </p>
      </a>
    </div>
    <div class="tarjeta">
      <a [routerLink]="'Visual'">
        <img
          src="../../../../assets/PaginaInicio/VISUAL.webp"
          alt="Servicio 3"
        />
        <h5>Visual</h5>
        <p>
          Nos encargamos de cubrir los eventos y actuaciones con fotografía y
          vídeo, a gusto del cliente
        </p>
      </a>
    </div>
    <div class="tarjeta">
      <a [routerLink]="'Tourmanager'">
        <img
          src="../../../../assets/PaginaInicio/TOURMANAGMENT.webp"
          alt="Servicio 3"
        />
        <h5>Tour Manager</h5>
        <p>Descripción del Servicio 3.</p>
      </a>
    </div>
  </section>
</ng-template>
