/*color-palette*/
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$background_grey1: #404040;
$background-white: #ffffff;
$background-white1: #ededed;
$background_white2: #f2f2f2;
$highlight_color: #c12828;
$transparent: #00000000;

$dark-color: #182636;
$middle-dark-color: #7f92a4;
$light-color: #efefee;
$power-color: #185fa7;
$extra-color: #ff8407;

$main-font: "Akira", sans-serif;
$secondary-font: "MyriadproBold'", sans-serif;

@mixin custom-iconbutton() {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 50%;
  z-index: 1;
  &:not([disabled]) {
    cursor: pointer;
  }
  &:hover:not([disabled]) {
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.19);
  }
}
@mixin custom-button() {
  cursor: pointer;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
  letter-spacing: 1px;
  transition: 0.3s;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(48, 47, 47, 0.7);
  text-transform: uppercase;
  width: 120px;
  align-self: center;
}
@mixin custom-slidechekbox() {
  display: flex;
  align-items: center;
  gap: 10px;

  &__text {
    font-size: 12px;
    width: 60px;
  }

  .switch {
    position: relative;
    display: flex;
    width: 48px;
    height: 20px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .slider-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark-color;
  }
  .slider-btn:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: $power-color;
  }

  input:checked + .slider-btn {
    background-color: $light-color;
  }

  input:focus + .slider-btn {
    box-shadow: 0 0 1px $light-color;
  }

  input:checked + .slider-btn:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider-btn.round {
    border-radius: 34px;
  }

  .slider-btn.round:before {
    border-radius: 50%;
  }
}

.table .mat-paginator-range-label {
  display: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: $red;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $white;
  /* background-color: white; */
}

.hidden {
  display: none;
}

.mat-column-select {
  overflow: initial;
}

.mat-mdc-form-field {
  display: inline-grid;
  margin-top: 20px;
}

.add-button {
  height: 100%;
  width: 100%;
  font-size: 35px;
  margin: 0%;
}

.add-container {
  border: none;
  padding: 0%;
  height: 35px;
  background-color: $transparent;
  transition: 0.3s;
  color: $light-color;
  &:hover:not([disabled]) {
    color: $extra-color;
    transform: scale(1.3) rotate(90deg);
  }
}
.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: $power-color;
  color: $light-color;
}

.mdc-text-field--no-label:not(.mdc-text-field--textarea)
  .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  color: $light-color;
}
.mat-mdc-header-cell {
  color: $light-color;
}
.cdk-overlay-dark-backdrop {
  background: rgba(#fff, 0.32);
}
.mat-sort-header-arrow {
  color: $light-color;
}
:host ::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $dark-color;
  color: $light-color;
}

.mat-mdc-select-panel-above .mdc-menu-surface.mat-mdc-select-panel {
  background-color: $dark-color;
}
.cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  .mdc-menu-surface.mat-mdc-select-panel {
  background-color: $dark-color;
}
.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
  color: $light-color;
}

.mdc-dialog .mdc-dialog__content {
  padding: 0;
}
.mat-primary
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: $light-color !important;
}
.mat-mdc-option.mdc-list-item {
  color: $light-color !important;
}
.mat-primary .mdc-list-item__primary-text {
  color: $light-color !important;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus:not(.mdc-list-item--disabled),
.mat-mdc-option.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
    .mdc-list-item--disabled
  ) {
  color: $light-color !important;
}
.mat-mdc-option .mat-icon,
.mat-mdc-option .mat-pseudo-checkbox-full {
  color: $light-color !important;
}
.mat-mdc-select-value .mat-mdc-option .mdc-list-item__primary-text {
  color: $light-color !important;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus:not(.mdc-list-item--disabled) {
  background-color: $power-color !important;
  color: $light-color;
}
.mat-mdc-option .mat-icon,
.mat-mdc-option .mat-pseudo-checkbox-full {
  color: $light-color;
}
.mat-pseudo-checkbox
  .mat-mdc-option-pseudo-checkbox
  .mat-pseudo-checkbox-full
  .ng-star-inserted
  .mat-pseudo-checkbox-checked {
  background-color: $extra-color;
  color: $light-color;
}
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: $extra-color;
  background-color: $extra-color;
}
.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
  margin: 0;
}

.mdc-text-field .mdc-line-ripple {
  display: none;
}
.mat-select-panel .mat-option {
  color: $light-color !important;
}
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: $light-color !important;
}
.mdc-list-item--selected .mdc-list-item__primary-text,
.mdc-list-item--activated .mdc-list-item__primary-text {
  color: $extra-color;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: $dark-color;
}

*::-webkit-scrollbar-thumb {
  background: $middle-dark-color;
  border-radius: 10px;
}
.mat-grid-tile-content {
  align-items: start !important;
}
.mat-mdc-select-value {
  color: $light-color !important;
}

:host ::ng-deep.mdc-text-field--filled.mdc-text-field--disabled {
  background-color: $power-color;
}
