@import '../web-styles.scss';
.container {
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* Separación más grande entre las tarjetas de artistas */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container-image {
  width: 300px;
  height: 450px;
  border: 1px solid #fffcfc;
}

.container-description {
  font-size: 25px;
  width: 500px;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  &p{
    padding: 20px;
  }
}

.image{
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  p{
    font-size: 15px;
  }
}
