<app-generic-section
  [contentTemplate]="contentTemplate"
  [sectionTitle]="'Presentacion'"
></app-generic-section>

<ng-template #contentTemplate>
  <p>Agencia creativa especializada en la Industria Musical.</p>
  <p>
    Nos encargamos de realizar todo el trabajo relacionado con PR&MKTNG, Redes
    Sociales y Branding de los artistas y sellos, ofreciéndoles así la capacidad
    de profesionalizar su proyecto y aumentar su visibilidad.
  </p>
  <p>
    También contamos con la sección de Visual, encargada de cubrir todo tipo de
    necesidades, ya sean videoclips, así como eventos, diseño gráfico o web.
  </p>
  <p>
    Trabajamos con DUDI, Robledo, La Santa, Hook Urban, Brote, ELIZALDE, La
    Vibra, Boombastic…
  </p>
</ng-template>
