<app-generic-window
  [contentTemplate]="contentTemplate"
  [windowTitle]="'Dossier'"
></app-generic-window>
<app-spinner *ngIf="this.spinner"></app-spinner>
<ng-template #contentTemplate>
  <button
    class="add-container"
    matTooltip="Añadir imagen"
    matTooltipShowDelay="500"
  >
    <mat-icon  mat-raised-button (click)="openAddItemDialog()" class="add-buton">add_box</mat-icon>
  </button>
  <!-- [cdkDropListData]="todo" -->
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of dossiers" class="dossier-card" cdkDrag>
      <div class="card-content">
        <div class="image-section">
          <img
            class="card-image"
            [src]="item.photo"
            alt="{{ item.title }}"
          />
        </div>
        <div class="text-section">
          <div class="card-section">{{ item.section }}</div>
        </div>
        <div class="button-section">
          <button mat-icon-button color="warn" class="delete-button" (click)="deleteDossier(item.id)" matTooltip="Eliminar imagen" matTooltipShowDelay="500">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>



</ng-template>



