@import './../web-styles.scss';

.table-container {
  margin: 0px 250px;
  padding: 25px;
  text-align: center;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.table-cell {
  display: flex;
    align-items: center;
    justify-content: center;
}

a {
  @include custom-button-2;
}

p{
  padding: 5px;
  color: white;
  background-color: transparent;
}

@media (max-width: 768px) {
  .table-row {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }
  .table-container {
    margin: 0px 20px;
    padding: 25px;
    text-align: center;
  }
}
