/* Estilos para la barra de navegación */
.mat-toolbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el logo (a la izquierda) */
.logo {
  display: flex;
  align-items: center;
  margin-left: 16px; /* Puedes ajustar el margen según tu diseño */
}

.logo img {
  aspect-ratio: attr(width) / attr(height);
}

/* Estilos para las secciones y el botón de inicio de sesión (a la derecha) */
.secciones,
.login {
  display: flex;
  align-items: center;
}

.secciones a:hover:not(.active) {
  transform: scale(1.5);
}

/* Estilos para los enlaces de sección */
.secciones a {
  margin-right: 20px; /* Espacio entre enlaces de sección */
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}

.logout{
  display: flex;
  align-items: center;
}

.login button {
  max-width: 100%;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilos para el ícono del botón de inicio de sesión/logout */
.login button mat-icon {
  font-size: 24px;
  margin-right: 4px; /* Espacio entre el ícono y el texto (si lo hubiera) */
}

.logout p {
  display: flex;
  color: white;
}

.logout {
  display: flex;
}

.logout button {
  margin-left: 16px;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilos para el ícono del botón de inicio de sesión/logout */
.logout button mat-icon {
  font-size: 24px;
  margin-right: 4px; /* Espacio entre el ícono y el texto (si lo hubiera) */
}

.menuWithe{
  color: white;
}

@media screen and (max-width: 767px) {

  .dropdown-menu {
    position: fixed; /* Mantiene el menÃº en su lugar mientras se desplaza */
    top: 60px; /* Ajusta la posiciÃ³n segÃºn la altura de la barra de navegaciÃ³n */
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-height: 100%; /* Ocupa toda la altura de la pantalla */
    background-color: black; /* Ajusta el color de fondo del menÃº desplegable */
    z-index: 1000; /* Asegura que estÃ© por encima de otros elementos */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente los elementos del menÃº */
  }

  .dropdown-menu a {
    text-decoration: none;
    color: white; /* Ajusta el color de texto */
  }

  .logo{
    margin-left: 0;
  }
}
