<mat-toolbar>
  <!-- Logo a la izquierda -->
  <div class="logo">
    <a mat-button routerLink="/Home">
      <img src="../../../assets/PaginaInicio/logo-navbar.png" alt="Logo" width="100px" height="100px"/>
    </a>
  </div>

  <div class="botonList" *ngIf="isMobile">
    <button mat-icon-button class="menuWithe" (click)="toggleMenu()" [class.active]="showMenu">
      <mat-icon>apps</mat-icon>
    </button>
  </div>

  <div *ngIf="isMobile && showMenu" class="dropdown-menu">
    <a mat-button routerLink="/Marketing" (click)="toggleMenu()">PR&MKTNG</a>
    <a mat-button routerLink="/Agency" (click)="toggleMenu()">Agency</a>
    <a mat-button routerLink="/Visual" (click)="toggleMenu()">Visual</a>
    <a mat-button routerLink="/Tourmanager" (click)="toggleMenu()">Tour Manager</a>
  </div>

  <!-- Secciones a la derecha -->
  <div *ngIf="!isMobile && !showMenu" class="secciones">
    <a mat-button routerLink="/Marketing">PR&MKTNG</a>
    <a mat-button routerLink="/Agency">Agency</a>
    <a mat-button routerLink="/Visual">Visual</a>
    <a mat-button routerLink="/Tourmanager">Tour Manager</a>
  </div>

  <!-- Si el usuario NO está iniciado sesión -->
  <div *ngIf="!isLogin" class="login">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'Login'">Iniciar Sesión</button>
    </mat-menu>
  </div>

  <!-- Si el usuario está iniciado sesión -->
  <div *ngIf="isLogin" class="logout">
    <p>{{ user?.username }}</p>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/Intranet/Home']">Intranet</button>
      <button mat-menu-item (click)="logout()" [routerLink]="['']">Log out</button>
    </mat-menu>
  </div>
</mat-toolbar>
