@import './../../web-styles.scss';

h3{
  font-size: 30px;
  font-family: "Akira";
  color: white;
  text-align: center;
  padding: 1%;
  margin: 0px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  h3 {
    padding-top: 20px;
    line-height: 1;
  }
}
