<div class="dialog-container" cdkDropListGroup>
  <div class="project-user-container">
    <h1>{{ dataName }}</h1>
    <div mat-dialog-content>
      <div
        *ngFor="let key of getProperties(dataForm)"
        class="project-role-container"
      >
        <div *ngIf="key !== 'id' ">
          <h2 class="role-title">{{ key }}</h2>
          <p class="p-input">{{ dataForm[key] }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
