@import "../../intranet.component.scss";

/*Filter column and filter options selector container*/
.filter-options-selector-container {
  display: flex;
  width: 100%;
  min-width: 500px;
  justify-content: center;
  align-items: flex-start;
  background-color: $light-color;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px;
  border-width: 1px;
  flex-direction: column;
  margin-bottom: 20px;
  min-height: 200px;
}

.filter-option-form {
  margin-top: 0px;
  text-align: left;
  width: 350px;
}

.filter-options-row {
  display: flex;
  align-items: baseline;
  gap: 20px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  height: 40px;
  margin-bottom: 35px;
  margin-top: 20px;
}

.filter-checkbox {
  background-color: $dark-color;
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  line-height: 24px;
  box-sizing: border-box;
  width: 250px;
  height: 55px;
}

.filters-condition {
  margin: 0;
  width: 250px;
}

.filter-options-inputs-container {
  margin-bottom: 10px;
}

/*Filter checkbox color*/
.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #ff8407 !important;
  --mdc-checkbox-selected-hover-icon-color: #ff8407 !important;
  --mdc-checkbox-selected-icon-color: #ff8407 !important;
  --mdc-checkbox-disabled-selected-icon-color: #efefee !important;
  --mdc-checkbox-disabled-unselected-icon-color: #efefee !important;
  --mdc-checkbox-unselected-icon-color: #efefee !important;
  --mdc-checkbox-unselected-pressed-icon-color: #efefee !important;
  --mdc-checkbox-unselected-focus-icon-color: #efefee !important;
  --mdc-checkbox-unselected-hover-icon-color: #efefee !important;
  --mdc-checkbox-selected-pressed-icon-color: #ff8407 !important;
}

/*Filter buttons*/
.filter-options-apply,
.filter-options-reset,
.filter-options-save {
  display: flex;
  gap: 4px;
  width: fit-content;
}

/* Filter options buttons */
.filter-options-buttons-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  button {
    @include custom-iconbutton;
    background-color: $power-color;
    color: $light-color;

    &:hover {
      background-color: $extra-color;
    }
  }
}
:host::ng-deep.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-fill
  .mat-mdc-floating-label {
  color: $light-color;
}
.mat-mdc-option.mdc-list-item--disabled {
  color: $light-color;
}
.mdc-list-item {
  color: $light-color;
  :hover {
    background-color: $power-color;
  }
}
:host::ng-deep.mat-mdc-checkbox label {
  color: $light-color;
}
.mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus:not(.mdc-list-item--disabled) {
  background-color: $power-color;
  color: $light-color;
}
:host::ng-deep.mat-mdc-icon-button svg {
  color: $light-color;
}
:host ::ng-deep .mat-mdc-option .mat-icon,
.mat-mdc-option .mat-pseudo-checkbox-full {
  color: $light-color;
}
