<!-- filter options selector -->
<div class="filter-options-selector-container">
  <ng-container class="filter-options-inputs-container">
    <mat-form-field class="filter-option-form">
      <mat-label class="filter-option-label"
        >Add filter
        <fa-icon [icon]="faPlus"></fa-icon>
      </mat-label>
      <mat-select
        class="filter-option-select"
        [(ngModel)]="selectedOption"
        (selectionChange)="addFilter()"
      >
        <mat-option
          class="filter-option-options"
          selected="true"
          disabled="disabled"
          >Select filter to add</mat-option
        >
        <mat-option
          class="filter-option-options"
          *ngFor="let item of getUnselectedColumns()"
          [value]="item"
        >
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <!--Array of Filters-->
  <ng-container *ngIf="this.selectedFilters.length > 0">
    <div class="filter-options-row" *ngFor="let filter of selectedFilters">
      <mat-checkbox
        class="filter-checkbox"
        [checked]="filter.active"
        (change)="onFilterActiveChange(filter.dataKey)"
      >
        {{ filter.name }}
      </mat-checkbox>

      <ng-container *ngIf="filter.active">
        <!-- CONDITION SELECTOR -->
        <mat-form-field class="filters-condition" appearance="fill">
          <mat-select
            class="filter-option-select"
            [(ngModel)]="filter.condition"
          >
            <mat-option
              class="filter-option-options"
              *ngFor="let condition of getFilterConditions(filter)"
              value="{{ condition }}"
              selected
            >
              {{ condition }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container [ngSwitch]="filter.type">
          <!-- SLIDER -->
          <ng-container *ngSwitchCase="'slider'"></ng-container>

          <!-- DROPDOWN -->
          <ng-container *ngSwitchCase="'dropdownFields'">
            <mat-form-field class="filters-condition" appearance="fill">
              <mat-select
                [(ngModel)]="filter.filterInput"
                matNativeControl
                multiple
              >
                <mat-option
                  *ngFor="let dropdownValue of filter.dropdown"
                  [value]="dropdownValue[filter.dropdownKeyValue]"
                >
                  {{ dropdownValue[filter.dropdownKeyToShow] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <!-- DATE PICKER -->
          <ng-container
            *ngSwitchCase="
              filter.type === 'datePicker' || filter.type === 'dateText'
                ? filter.type
                : ''
            "
          >
            <mat-form-field class="filters-condition" appearance="fill">
              <input
                matInput
                [matDatepicker]="startPicker"
                [(ngModel)]="filter.startDate"
                [formControl]="startDate"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
              <mat-error *ngIf="startDate.invalid">Not a valid date</mat-error>
            </mat-form-field>
          </ng-container>

          <!-- TEXT INPUT -->
          <ng-container *ngSwitchDefault>
            <mat-form-field
              *ngIf="filter.dropdown == null"
              class="filters-condition"
              appearance="fill"
            >
              <input
                class="filterInput"
                [(ngModel)]="filter.filterInput"
                matInput
                placeholder="{{ filter.filterInput }}"
              />
            </mat-form-field>
            <mat-form-field
              *ngIf="filter.dropdown != null"
              class="filters-condition"
              appearance="fill"
            >
              <mat-select
                [(ngModel)]="filter.filterInput"
                matNativeControl
                multiple
              >
                <mat-option
                  *ngFor="let dropdownValue of filter.dropdown"
                  [value]="dropdownValue[filter.dropdownKeyToShow]"
                >
                  {{ dropdownValue[filter.dropdownKeyToShow] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <!-- filter options buttoms -->
  <div class="filter-options-buttons-container">
    <button
      matTooltip="Apply filter"
      matTooltipPosition="below"
      matTooltipShowDelay="500"
      (click)="applyFilterOption()"
    >
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>

    <button
      matTooltip="Reset filter"
      matTooltipPosition="below"
      matTooltipShowDelay="500"
      (click)="resetFilterOptions()"
    >
      <fa-icon
        [icon]="faUndo"
        [styles]="{ transform: 'rotate(-90deg)' }"
      ></fa-icon>
    </button>
  </div>
</div>
