<app-navbar></app-navbar>

<div class="artist-container">
  <ng-container *ngFor="let artist of artists" class="artist-card">
    <mat-card class="artist-card">
      <mat-card-title class="artist-name">{{ artist.name }}</mat-card-title>
      <mat-card-content class="artist-image-container">
        <img
          [src]="artist.photo"
          alt="{{ artist.name }} Image"
          class="artist-image"
        />
      </mat-card-content>
      <mat-card-actions>
        <div class="social-network-container">
          <a
            [href]="'https://www.instagram.com/' + artist.socialNetwork?.instagram"
            target="_blank"
            class="logo-artist-social-network"
          >
            <img src="./../../../assets/RRSSArtist/instagram.png" alt="Instagram" />
          </a>
          <a
            [href]="'https://www.youtube.com/' + artist.socialNetwork?.youtube"
            target="_blank"
            class="logo-artist-social-network"
          >
            <img src="./../../../assets/RRSSArtist/youtube.png" alt="YouTube" />
          </a>
          <a
            [href]="'https://www.spotify.com/' +artist.socialNetwork?.spotify"
            target="_blank"
            class="logo-artist-social-network"
          >
            <img src="./../../../assets/RRSSArtist/spotify.png" alt="Spotify" />
          </a>
          <a
            [href]="'https://www.tiktok.com/@' +artist.socialNetwork?.tikTok"
            target="_blank"
            class="logo-artist-social-network"
          >
            <img src="./../../../assets/RRSSArtist/tiktok.png" alt="TikTok" />
          </a>
          <a
            class="logo-artist-social-network"
            (click)="openArtistDetail(artist)"
          >
            <img src="./../../../assets/RRSSArtist/twitter.png" alt="Twitter" />
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
