* {
  overflow-x: hidden;
}

.carousel {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel-image {
  max-height: 100vh;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  overflow-y: hidden;
}

.image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.navigate-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    background-color: red;
  }
}

.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  margin: 10px;
  cursor: pointer;
  user-select: none;
  margin-left: 250px;
  margin-right: 250px;
  overflow: hidden;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 19px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #007bff;
}


@media (max-width: 768px) {
  .nav-button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .navigate-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .nav-button {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .navigate-button {
    padding: 6px 12px;
    font-size: 12px;
  }
}
