<div class="carousel">
  <div class="carousel-controls">
    <button mat-icon-button (click)="prevImage()" class="nav-button">
      <p class="nav-button-icon">&lt;</p>
    </button>
    <div class="carousel-image">
      <div class="image-wrapper">
        <img
          [src]="images[currentIndex]?.photo"
          alt="Carousel Image"
          [ngStyle]="{ 'max-height': '85vh' }"
        />
      </div>
      <button mat-button class="navigate-button" [routerLink]="images[currentIndex]?.section"><span>Saber más</span></button>
    </div>
    <button mat-icon-button (click)="nextImage()" class="nav-button">
      <p class="nav-button-icon">&gt;</p>
    </button>
  </div>

  <div class="carousel-dots">
    <span
      *ngFor="let image of images; let i = index"
      (click)="goToImage(i)"
      class="dot"
      [class.active]="i === currentIndex"
    ></span>
  </div>
</div>
