@import "global";

.dialog-title {
  margin: 10px 20px 0px 20px;
  color: $light-color;
}

.dialog-content {
  margin: 0px 20px;
  color: $light-color;
}

.dialog-btns-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0px 20px;
  margin-bottom: 30px;
  &__cancel {
    @include custom-button;
    background-color: $light-color;
    color: $power-color;
    &:hover {
      background-color: $extra-color;
      color: $light-color;
    }
  }
  &__confirm {
    @include custom-button;
    color: rgb(255, 51, 51);
    background-color: $power-color;
    font-weight: 600;
    &:hover {
      background-color: rgb(255, 51, 51);
      color: $light-color;
    }
  }
}

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: $dark-color;
}
